@page
@model wardalert.Pages.Register.formModel
@{
}

<h1>Register for the training form</h1>


<form method="post" class="">
    <div class="form-group">
        <label for="trainingId" class="form-label">trainingId</label>
        <input type="text" id="training" asp-for="trainingId" required class="form-control" placeholder="" />
    </div>
    <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" asp-for="Name" required class="form-control" placeholder="Ram Bahadur" />
    </div>
    <div class="form-group">
        <label for="address" class="form-label">Address</label>
        <input type="text" asp-for="Address" class="form-control" id="address" placeholder="Chyasal Lalitpur" />
    </div>

    <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" id="email" placeholder="ram@gmail.com" />
    </div>

    <div class="from-group">
        <label for="phone" class="form-label">Phone</label>
        <input type="tel" asp-for="Phone" required class="form-control" id="phone" placeholder="9876543210" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>