@page
@using wardalert.Pages.trainings
@model OngoingModel
@{
}
<p>Debug: Page loaded successfully!</p>
<style>
    h1{
        color:black;
    }
</style>

<h1>Ongoing Trainings Table shown here</h1>