@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

main {
    margin-top: 60px;
    padding-top: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.light-text {
    color: #333333;
}

.homepagecontainer {
    padding: 4rem;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/patan.jpg');
    background-position: center;
    background-size: 100% 100%;
    min-height: 48rem;
    background-repeat: no-repeat;
}



.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

header {
    height: 60px;
    background-color: #14468c !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    margin: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand .logo-bg {
    width: 40px;
    height: 40px;
    background-color: #af111c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
}


.dropdown-menu-dark {
    background-color: #1f2937;
}

.logo-bg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9534f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.01);
}

.bg-gradient-red {
    background: linear-gradient(to bottom right, #dc3545, #7f1d1d);
}

.bg-gradient-slate {
    background: linear-gradient(to bottom right, #334155, #0f172a);
}

.bg-gradient-dark {
    background: linear-gradient(to bottom right, #7f1d1d, #000000);
}

.btn-danger {
    background-color: var(--primary);
    border-color: var(--primary);
}

    .btn-danger:hover {
        background-color: var(--primary-dark);
        border-color: var(--primary-dark);
    }

.dropdown-menu-dark {
    background-color: #1e293b;
}

.loginform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    color: black;
    width: 400px;
    padding: 30px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

   
}

    form label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    form input {
        width: calc(100% - 20px);
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box;
    }

    form button {
        width: 100%;
        padding: 10px;
        background: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
    }

    form button:hover {
        background: #0056b3;
    }


/*don't touch this code*/
/*navbar dropdown*/
*  dropdown     
.dropdown {
    float: left;
    overflow: hidden
}
/*don't touch this code*/



    /* Dropdown button */
.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 6px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

    

/* Dropdown content (hidden by default) */
.dropdown-content {
    border-radius:2px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/*Marquee css and animation */
.marquee-wrapper {
    font-family: 'Courier New', monospace;
    width: 100%;
    padding-top:75px;
    position: absolute;
    min-height: 75px; 
    background-color:slategrey;
    overflow: hidden;
/*

*/
}


.marquee-content {
    margin-bottom:8px;
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    font-size: 18px; /* Adjust for readability */
    color: black; /* Ensure visibility */
    animation: marquee 20s linear infinite;
}


@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
