@page
@model IndexModel
@{
    ViewData["Title"] = "index";
}

<main class="main-content">

    <div class="welcome-image-container">
         <img src="./images/12.png" class="haku"> 
        <img src="./images/DYA.png" alt="Welcome to Lalitpur" class="welcome-image">
        <div class="welcome-text">WELCOME TO LALITPUR</div>
    </div>
</main>
    </div>
<div class="text">

    <h3 class="info-heading">Description</h3>
    Lalitpur Ward No. 17 (Lukhunsi)



    Ward No. 17 of Lalitpur Sub-Metropolitan City.<p>
        One of Patan´s 22 Wards.
        Former Ward No. 17 (Lukhunsi)
    </p>
    <br>

    <p>
        <h3>Introduction to the Ward:</h3>
        <br>
        <h4>1. Historical Background</h4>
        Lalitpur Metropolitan City Ward No. 17 is a historic town. This ward is home to various languages, ethnicities, cultures, and communities. According to the 2068 census (2011 AD), the total population of this ward is 10,644, comprising 5,093 females and 5,551 males. The total number of households is 2,678, and the population density is 17,740 per square kilometer. The total area of the ward is 0.60 square kilometers.
        <br>
        <br>
        <h4>2. Geographical Location and Boundaries</h4>

        East: Karmanasa River and Mahalaxmi Municipality Ward No. 1.<br>
        West: Ilache, Lukhusi, Kanibahal, Sinchahiti, Dalot Workshop, and Ward No. 6.<br>
        North: Sundhara, Ilache, Haktol, Tyagal, Gwarko, and Ward No. 7.<br>
        South: All Nepal Football Association, Bafal, and Ward No. 15.<br>
<br />
<br />


</div>
    </div>


